@model IndexViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .hidden-password {
            -webkit-text-security: disc;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Password Manager</h1>
        <div class="mb-3">
            <form asp-action="Index" method="get">
                <div>
                    <input type="text" class="form-control" placeholder="Search by name or email" name="Query" asp-for="Query" value="@Model.Query">
                    <span asp-validation-for="Query" class="text-danger form-label"></span>
                    <input type="submit" class="btn btn-primary" asp-action="Index">
                </div>
            </form>
        </div>
        <table class="table table-striped sortable" id="passwordTable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Password</th>
                    <th>Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="passwordTable">
                @foreach (var item in Model.Records)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td class="password-cell">
                            <span class="hidden-password">********</span>
                            <span class="visible-password" style="display:none;">@item.Password</span>
                        </td>
                        <td>@item.RecordDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td><a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                        <td>
                            <form method="post" asp-action="Delete">
                                <input type="submit" value="Delete" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-primary" asp-action="Create" asp-controller="Password">Add New Record</a>
    </div>

    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.password-cell').on('click', function () {
                var hiddenPassword = $(this).find('.hidden-password');
                var visiblePassword = $(this).find('.visible-password');

                if (hiddenPassword.is(':visible')) {
                    hiddenPassword.hide();
                    visiblePassword.show();
                } else {
                    hiddenPassword.show();
                    visiblePassword.hide();
                }
            });
        });
    </script>
</body>
</html>
